In [32]:
#1
result = {}
d1 = {'a':100, 'b':200, 'c':300}
d2 = {'a':300, 'b':200, 'd':400}
print ( {k: d1.get(k, 0) + d2.get(k, 0) for k in set(d1) | set(d2)} )

{'d': 400, 'c': 300, 'b': 400, 'a': 400}

In [83]:
#2
people = [("Ali",25), ("Mina",30), ("Reza",25), ("Sara",30)]
a = []
for i in people:
    a.append (i[1])
age = list (a)
print (set (age))

age2 = {}
for char in age:
    age2.setdefault(char, 0)
    age2[char]+=1
print (age2)

b = age.sort ()
names = []
for i in people:
    names.append (i[0])
print(names)

{25, 30}
{25: 2, 30: 2}
['Ali', 'Mina', 'Reza', 'Sara']

In [94]:
#3
people1 = [{"name":"ali","age":23}, {"name":"mina","age":30}, {"name":"reza","age":25}, {"name":"sara","age":28}]
a1 = []
for i in people1:
    v = i.get("age")
    if v > 25:
        a1.append(i)
a1

[{'name': 'mina', 'age': 30}, {'name': 'sara', 'age': 28}]

In [107]:
#4
nestedList = [[1,2,3], [2,3,4], [3,4,5]]
a2 = []
for i in nestedList:
    for j in i:
        a2.append(j)
print (set(a2))

{1, 2, 3, 4, 5}

In [118]:
#5
words = ["apple", "cat", "dog", "book", "python"]
dWords = {}
for i in words:
    dWords.setdefault(i, 0)
    dWords[i]+= len(i)
{v:k for k,v in dWords.items()}

{5: 'apple', 3: 'dog', 4: 'book', 6: 'python'}